html {
	background-image: linear-gradient(to top, #ffffff ,transparent) ,url("../image/bk4.jpg");
	min-width: 1000px;
	/*height:calc(100% - 10px);*/
	height: calc(100%);
}
.header{
	/*顶部长条*/
	/*border:2px  solid rgb(167, 126, 73);*/
	width: calc(100% - 42px);
	margin-right: 25px;
	height: 80px;
	position: relative;
	top: 0;
	background-image: url("../image/12.jpg"),linear-gradient(to top, #ffffff ,transparent);
	/*background: -webkit-linear-gradient(top,rgb(225, 219, 213,0.3) 0%, rgb(225, 219, 213,0.8) 30%,rgba(225, 219, 213,0.5)77%, rgba(167, 126, 73,0)99%);*/
	/*min-width: 100%;*/
	min-width: calc(100% - 280px);
}
.leftMenu{
	/*左侧页面跳转菜单*/
	width: 150px;
	border-radius: 10px;
	height: calc(100vh - 116px);
	position: relative;
	float: left;
	margin-top: 9px;
	background-image:linear-gradient(to top, rgba(255, 255, 255, 0.71) 10% ,transparent) , url("../image/13.jpg");
	background-color: bisque;
}
.leftMenulist{
	/*左侧跳转菜单栏按钮表*/
	padding: 28px;
	margin-top: 76px;
	list-style-type: none;
}
.leftMenulist li{
	/*左侧跳转菜单栏单个按钮*/
	list-style: none;
	background-color: burlywood;
	position: relative;
	height: 30px;
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 7px;
	
}
.leftMenulist li:hover{
	/*鼠标移动至左侧跳转菜单栏单个按钮颜色变换*/
	background-color: rgb(241, 138, 12);
}
.leftMenulist li:active{
	/*鼠标点击左侧跳转菜单栏单个按钮颜色变换*/
	background-color: rgb(214, 123, 3);
}
.headerLogo{
	/*顶部左侧LOGO处*/
	border: 1px solid #ff0000;
	width: 200px ;
	height: 50px;
	float: left;
	position: relative;
	margin: 10px;
}
.headerTitlepic{
	/*顶部LOGO右边侧网站标题处*/

	width: 400px ;
	height: 50px;
	float: left;
	position: relative;
	margin: 15px 10px 10px 0;
}
.headerUser{
	/*顶部右侧用户板块处*/
	width: 200px ;
	height: 50px;
	float: right;
	align-items: center;
	position: relative;
	margin: 20px;
}
		.mainContainer {
			/*页面调转菜单栏右侧的主要操作区样式*/
			width: calc(100% - 245px);
			height: calc(100vh - 230px);
			float: left;
			position: relative;
			margin-top: 10px;
			margin-left: 25px;
			padding: 10px;
			background-color: #ffffff8a;
			border: 6px double rgb(201, 191, 181);

		}
		.operateContainer{
			/*主要操作区上方板块样式*/
			width: calc(100% - 245px);
			height: 45px;
			background-color: #ffffff8a;
			border: 6px double rgb(201, 191, 181);
			position: relative;
			float: left;
			margin-left: 25px;
			margin-top: 16px;
			padding-left: 10px;
			padding-right: 10px;
		}
		#operateContainerBlock{
			/*在operateContainer中防止窗口变窄其他div被挤下去的div样式*/
			width: calc(100%);
			min-width: 700px;
			height: 40px;
			/*border: #00008B solid 1px;*/
		}
		#fileTitleInfofont{
			/*在operateContainer中显示的文件名样式*/
			display: inline-block;
			position: relative;
			float: left;
			margin-top: 12px;
			margin-left: 5px;
			font-size: 4px;
		}
		#fileTimeinfoFont{
			/*显示的文件上次标注时间样式*/
			display: inline-block;
			position: relative;
			float: right;
			margin-top: 14px;
			margin-left: 16px;
			font-size: 4px;
		}
		.fileListitem{
			/*主操作区文件列表的文件*/
			background-color: rgba(255, 255, 255, 0.17);
			border: 6px double rgb(201, 191, 181);
			min-width: 95%;
			height: 45px;
			position: relative;
			float: left;
			margin-top: 12px;
			width: 98%;
			/*margin-left:5px;*/
			font-size: 16px;
		}
		.fileListitem:hover{
			/*文件列表中鼠标移动到文件上颜色改变样式*/
			background-color: #ee9e3b;
			opacity: 70%;
		}
		.fileListitem:active{
			/*文件列表中鼠标点击文件颜色改变样式*/
			background-color: #885a22;
			opacity: 70%;
		}
		#fileListitemButtongroup{
			/*单个文件对象的按钮组样式*/
			position: relative;
			float: right;
			margin-top: 10px;
			margin-right: 10px;
			margin-left: 10px;
			font-size: 30px;
		}
