		.header{
			/*顶部长条*/
			background-color: #6495ED;
			width: max-content;
			height: 80px;
			position: relative;
			top: 0px;
			min-width: 100%;
		}
		.leftMenu{
			/*左侧页面跳转菜单*/
			width: 200px;
			border-radius: 10px;
			height: calc(100vh - 116px);
			position: relative;
			float: left;
			margin-top: 5px;
			border: #ff0000 1px solid;
			background-color: #6495ED;
		}
		.leftMenulist{
			/*左侧跳转菜单栏按钮表*/
			margin-top: 80px;
			padding: 0px;
			list-style-type: none;
		}
		.leftMenulist li{
			/*左侧跳转菜单栏单个按钮*/
			list-style: none;
			background-color: #6495ED;
			position: relative;
			height: 50px;
		}
		.leftMenulist li:hover{
			/*鼠标移动至左侧跳转菜单栏单个按钮颜色变换*/
			background-color: #4169E1;
		}
		.leftMenulist li:active{
			/*鼠标点击左侧跳转菜单栏单个按钮颜色变换*/
			background-color: #00008B;
		}
		.headerLogo{
			/*顶部左侧LOGO处*/
			border: 1px solid #ff0000;
			width: 200px ;
			height: 50px;
			float: left;
			position: relative;
			margin: 10px;
		}
		.headerTitlepic{
			/*顶部LOGO右边侧网站标题处*/
			border: 1px solid #ff0000;
			width: 400px ;
			height: 50px;
			float: left;
			position: relative;
			margin: 10px 10px 10px 0;
		}
		.headerUser{
			/*顶部右侧用户板块处*/
			border: 1px solid #ff0000;
			width: 200px ;
			height: 50px;
			float: right;
			position: relative;
			margin: 10px;
		}
		.mainContainer {
			/*页面调转菜单栏右侧的主要操作区样式*/
			width: calc(100% - 295px);
			height: calc(100vh - 216px);
			float: left;
			position: relative;
			border: solid 1px #ff0000;
			margin-top: 20px;
			margin-left: 25px;
			padding: 10px;
			overflow: scroll;
		}
		.operateContainer{
			/*主要操作区上方板块样式*/
			width: calc(100% - 295px);
			height:45px;
			border: #ff0000 solid 1px;
			position: relative;
			float: left;
			margin-left: 25px;
			margin-top:16px ;
			padding-left: 10px;
			padding-right: 10px;
		}
		#operateContainerBlock{
			/*在operateContainer中防止窗口变窄其他div被挤下去的div样式*/
			min-width: 960px;
			height: 40px;
			border: #00008B solid 1px;
		}
		#fileTitleInfofont{
			/*在operateContainer中显示的文件名样式*/
			display: inline-block;
			position: relative;
			float: left;
			margin-top: 12px;
			margin-left: 5px;
			font-size: 4px;
		}
		#fileTimeinfoFont{
			/*显示的文件上次标注时间样式*/
			display: inline-block;
			position: relative;
			float: right;
			margin-top: 14px;
			margin-left: 16px;
			font-size: 4px;
		}
		.fileListitem{
			/*主操作区文件列表的文件*/
			border: #00008B solid 1px;
			min-width: 95%;
			height: 45px;
			position: relative;
			float: left;
			margin-top: 12px;
			margin-left: 16px;
			font-size: 4px;
		}
		.fileListitem:hover{
			/*文件列表中鼠标移动到文件上颜色改变样式*/
			background-color: #6495ED;
		}
		.fileListitem:active{
			/*文件列表中鼠标点击文件颜色改变样式*/
			background-color: #4169E1;
		}
		#fileListitemButtongroup{
			/*单个文件对象的按钮组样式*/
			position: relative;
			float: right;
			margin-top: 10px;
			margin-right: 10px;
			margin-left: 10px;
		}