.header{
	/*顶部长条*/
	background-color: #6495ED;
	width: max-content;
	height: 80px;
	position: relative;
	top: 0px;
	min-width: 100%;
}
.leftMenu{
	/*左侧页面跳转菜单*/
	width: 200px;
	border-radius: 10px;
	height: calc(100vh - 116px);
	position: relative;
	float: left;
	margin-top: 5px;
	border: #ff0000 1px solid;
	background-color: #6495ED;
}
.leftMenulist{
	/*左侧跳转菜单栏按钮表*/
	margin-top: 80px;
	padding: 0px;
	list-style-type: none;
}
.leftMenulist li{
	/*左侧跳转菜单栏单个按钮*/
	list-style: none;
	background-color: #6495ED;
	position: relative;
	height: 50px;
}
.leftMenulist li:hover{
	/*鼠标移动至左侧跳转菜单栏单个按钮颜色变换*/
	background-color: #4169E1;
}
.leftMenulist li:active{
	/*鼠标点击左侧跳转菜单栏单个按钮颜色变换*/
	background-color: #00008B;
}
.headerLogo{
	/*顶部左侧LOGO处*/
	border: 1px solid #ff0000;
	width: 200px ;
	height: 50px;
	float: left;
	position: relative;
	margin: 10px;
}
.headerTitlepic{
	/*顶部LOGO右边侧网站标题处*/
	border: 1px solid #ff0000;
	width: 400px ;
	height: 50px;
	float: left;
	position: relative;
	margin: 10px 10px 10px 0;
}
.headerUser{
	/*顶部右侧用户板块处*/
	border: 1px solid #ff0000;
	width: 200px ;
	height: 50px;
	float: right;
	align-items: center;
	position: relative;
	margin: 10px;
}
.mainContainer {
	/*页面调转菜单栏右侧的主要操作区样式*/
	width: calc(100% - 295px);
	padding: 20px;
	height: calc(100vh - 235px);
	float: left;
	position: relative;
	border: solid 1px #ff0000;
	margin-top: 20px;
	margin-left: 25px;
	overflow: scroll;
}
.operateContainer{
	/*主要操作区上方板块样式*/
	width: calc(100% - 295px);
	height:45px;
	border: #ff0000 solid 1px;
	position: relative;
	float: left;
	margin-left: 25px;
	margin-top:16px ;
	padding-left: 10px;
	padding-right: 10px;
}
#operateContainerallBlock{
	/*在operateContainer中防止窗口变窄其他div被挤下去的div样式*/
	min-width: 1300px;
	height:43px;
	border: #ff13cc solid 1px;
}
#operateContainerleftBlock{
	/*主要操作区上方板块样式左侧区域 全选删除功能*/
	width: 200px;
	height:42px;
	border: #22ff2d solid 1px;
	position: relative;
	float: left;
}
#operateContainermiddleBlock{
	/*主要操作区上方板块样式中侧区域 添加修改功能*/
	width: 760px;
	height:42px;
	border: #3067ff solid 1px;
	position: relative;
	float: left;
	padding-left: 5px;
}
#operateContainerrightBlock{
	/*主要操作区上方板块样式右侧区域 添加修改功能*/
	width: 304px;
	height:42px;
	border: #ff0000 solid 1px;
	position: relative;
	float: right;
}
.userListitem{
	/*用户列表中一个用户的外可变化div样式*/
	opacity:0.8;
	background: #e1edff;
	width: calc(100% - 35px);
	height:29px;
	border: #00008B solid 1px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
#userListitemBlock{
	/*在userListitem中防止窗口变窄其他div被挤下去的div样式*/
	min-width: 1280px;
	height:29px;
	border: #ff13cc solid 1px;
}
.userListitemButtongroup{
	/*列表中单个用户对象的按钮组样式*/
	position: relative;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 10px;
}

		